@model IEnumerable<XBC.ViewModel.Document_Test_DetailViewModel>
<style>
    #table1 table {
        border-collapse: collapse;
        border: 0;
    }



    th, td {
        display: block;
        border: 0;
    }
</style>

<table class="table" id="table1" >

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.question)
                    <input type="hidden" name="question_id" value="@item.question_id" />
                </td>
                <td>
                        <textarea class="form-control" name="answer" style="height:18rem; resize:none;" placeholder="Feedback" id="answer"></textarea>
                        @*<input type="hidden" name="question_id" value="@item.answer" />*@
                </td>
            </tr>
        }
    </tbody>
</table>
