@model XBC.ViewModel.BootcampTestTypeViewModel

<h3>Are you sure to delete this data?</h3>
<div>
   @using (Html.BeginForm("Delete", "BootcampTestType", FormMethod.Post, new { id = "form-delete", name = "form-delete" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="form-actions no-color">
            <input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
<script type="text/javascript">
    $("#form-delete").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Delete successful!\n name: " + result.entity.name);
                    $(".modal").modal("hide");
                    GetList();
                }
                else {
                    alert("Error\n" + result.message);
                }
            }
        });
        return false;
    });
</script>
