
@{
    ViewBag.Title = "Beranda";
}
<div style='width: 100%; padding-top:20px; height:500px; float: left;'>
    <div style='float:right;'>
    <img src='~/logo.png' style='height: 100px; margin-right: 3rem;'>
    </div>
    <div style='width:100%; margin-top:150px;'>
        <h1><b>Selamat Datang</b></h1>
    </div>
</div>
