
@{
    ViewBag.Title = "Beranda";
}
<img src="~/background.png" style="position:fixed; bottom:0px; width:100%; height:auto; left:0px; z-index:1;" />
<div style='width: 100%; height:500px; float: left; z-index:999; position:relative;'>
    <div style='width:90%; margin-left:10rem;'>
        <h1 style="color:rgb(50, 110, 160);"><b>Selamat Datang</b></h1>
    </div>
    <div style='float:right;'>
        <img src='~/logo-xsis.png' style="height: 150px; position:fixed; bottom:0px; right:0.5rem; ">
    </div>
</div>
