@{
    ViewBag.Title = "Menu";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3><b>Menu</b></h3>
    </div>
    <div id="data-list" class="panel-body">
        <h4>Loading...</h4>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<div class='alert alert-success fade in col-md-3' style="position:fixed; top:9.5rem; left:50rem;">
    <a href='#' class='close alert-close'>&times;</a> <strong>Message Info !</strong><hr />
    <p class="tx-info">Data successfully saved !</p>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            //$(".panel-body").html("<h4>Selesai</h4>");
            //$(".panel-body2").append("<h4>Selesai2</h4>");
            ////$("#data-list").html("<h4>List ada disini</h4>");
            $('.alert-success').hide();
            GetList();
        });
        function GetList() {
            $.ajax({
                url: '@Url.Action("List","Menu")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            })
        }
        $(".alert-close").click(function () {
            $('.alert-success').hide();
        })
    </script>
}





