@{
    ViewBag.Title = "Office";
}
<div class="col-lg-8">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3>Office</h3>
        </div>
        <div id="data-list" class="panel-body">
            <h4>Loading...</h4>
        </div>
    </div>
</div>
<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>

            <div id="create" class="modal-body">

                <h4>create</h4>
            </div>
            <div id="room" class="modal-body">
                <h4>room</h4>
            </div>
        <div class="modal-footer">
            <div id="footer" class="modal-footer">
                <h4>footer</h4>
            </div>
        </div>
        </div><!-- /.modal-content -->
        <div class="modal-content modal2" style="position:relative; top:-40rem; display:none;">
            <div class="modal-body body2">

            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });
        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Office")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });

        };
        function GetListRoom(id) {
            var officeId = id;
            console.log(id);
            $.ajax({
                url: '@Url.Action("ListByOffice", "Office")',
                type: 'get',
                data: { id: officeId },
                success: function (result) {
                    $("#room").html(result);
                }
            })
        };
        function RemoveRoom(room) {
            if (confirm("Are You Sure to Delete this?")) {
                $(room).closest("tr").remove();
            }
        }
    </script>
}