@{
    ViewBag.Title = "Technology";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        TECHNOLOGY
    </div>
    <div id="data-list" class="panel-body">
        <h4>Loading...</h4>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
            </div>
        </div><!-- /.modal-content add trainer -->
        <div class="modal-content modal2" style="display:none; position:relative; top: -40rem; z-index:999; padding:3rem;">
            <div class="modal-body body2">
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        function RemoveTrainer(obj) {
            if (confirm("Are you sure to delete this data?")) {
                $(obj).closest("tr").remove();
            }
        }

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Technology")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }
            });
        }
    </script>
}