@model XBC.ViewModel.AssignmentViewModel
@{
    ViewBag.id = Session["id"];
}
<div class="form-group" style="padding-bottom : 3rem;">
    <div class="col-md-12">
        <center><h4>Are you sure you want to Hold this?</h4></center>
    </div>
    <div class="col-md-12">
        @using (Html.BeginForm("Hold", "Assignment", FormMethod.Post, new { id = "form-hold", name = "form-hold" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.id)
            <input type="hidden" id="UserId" name="UserId" value="@ViewBag.id" />
            <div class="form-actions no-color col-md-6">
                <center><button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button></center>
            </div>
            <div class="form-actions no-color col-md-6">
                <center><input type="submit" value="Hold" class="btn btn-success" /></center>
            </div>
        }
    </div>
</div>
@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#form-hold").submit(function () {
        $.ajax({
            url: this.action,
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    //alert("Save Successfull\nName" + result.entity.Name);
                    $(".modal").modal("hide");
                    $('.tx-info').html("Data has been Hold !")
                    $(".alert").show();
                    GetList();
                }
                else {
                    alert("Error\nName" + result.message);
                }
            }
        });
        return false;
    });
</script>
