
@{
    ViewBag.Title = "Document Test";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>@ViewBag.Title</h3>
    </div>
    <div>
        <div class="col-md-8" style="padding:3rem 0rem 3rem 0rem; display:inline">

            <input type="text" id="txt-search" class="form-control-static col-md-9" placeholder="Search by name/version" style="padding : 5px;" />


            <button type="button" id="btn-search" class="form-control-static btn-primary" style="padding : 5px;">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>

        </div>
        <div class="col-md-3" style="padding:3rem 0rem 3rem 0rem; display:inline; float :right;">
            <button type="button" id="btn-Create" class="form-control-static btn-primary" style="padding : 5px">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </div>
    </div>


    <div id="data-list">
        <h4>Loading....</h4>
    </div>
</div>



<div id="myModal" class="modal fade modal1" tabindex="-1" role="dialog">
    <div style="width:80rem" class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#428bca; color:white">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title title1">Modal title</h4>
            </div>
            <div class="modal-body body1">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div><!-- /.modal-content -->
    @*</div>
</div>*@

@*<div id="myModal" class="modal fade modal2" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">*@
        <div class="modal-content modal2 " style="display:none; position:relative; top: -50rem; z-index:999; padding:3rem;">
            <div class="modal-header" style="background-color:#428bca; color:white">
                <h4 class="modal-title title2">Modal title</h4>
            </div>
            <div class="modal-body body2">
                <p>One fine Body&hellip;</p>
            </div>
        </div>
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        function GetList() {
            $.ajax({
                url: '@Url.Action("List", "Document_Test")',
                type: 'get',
                success: function (result) {
                    $("#data-list").html(result);
                }

            });

        }

        $("#btn-Create").click(function () {
            $.ajax({
                url: '@Url.Action("create","Document_Test")',
                type: 'get',
                success: function (result) {
                    $(".modal-title").html("Add Document Test");
                    $(".modal-body").html(result);

                    $('.modal').modal('show');
                }
            });
        });

    </script>
}





