@model XBC.ViewModel.QuestionViewModel

<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.questionType, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.questionType, new { htmlAttributes = new { @class = "form-control type", @readonly = "readonly" } })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @Html.LabelFor(model => model.question, htmlAttributes: new { @class = "control-label" })
            <textarea class="form-control" name="question" style="height:12rem; resize:none" readonly>@Model.question</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            @if (Model.imageUrl != null)
            {
                <img src="~/Images/@Url.Content(Model.imageUrl)" width="540" height="290" />
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-9 col-md-3">
            <button style="width:112px" type="button" class="btn btn-primary" data-dismiss="modal">CLOSE</button>
        </div>
    </div>
</div>